

/* Start:/bitrix/components/bitrix/catalog/templates/bootstrap_v4/style.min.css?1626519100684*/
.grid .bx_content_section{margin-bottom:15px}.grid .bx_sidebar{margin-bottom:15px}.grid2x1 .bx_content_section{float:left;width:66%;margin-bottom:15px}.grid2x1 .bx_sidebar{float:right;width:33%;margin-bottom:15px;padding-left:5%;box-sizing:border-box}@media(max-width:960px){.grid2x1 .bx_sidebar{padding-left:4%}}@media(max-width:640px){.grid2x1 .bx_content_section,.grid2x1 .bx_sidebar{width:100%;float:none}.grid2x1 .bx_sidebar{padding-left:3%}}@media(max-width:479px){.grid2x1 .bx_sidebar{padding-left:1%}}.catalog-block-header{font-size:14px;font-weight:bold;text-align:left;margin:5px 0;padding:5px 0;border-bottom:2px solid #d9dee6;border-bottom-color:var(--primary);color:#000}
/* End */


/* Start:/bitrix/components/bitrix/catalog.section.list/templates/bootstrap_v4/style.min.css?16265191002306*/
.catalog-section-list-item-title{overflow:hidden;margin:0;padding:0;vertical-align:middle;text-align:center;text-overflow:ellipsis;font-size:14px;line-height:20px}.catalog-section-list-item-link{vertical-align:middle;font-size:14px;line-height:20px}.catalog-section-list-item-counter{vertical-align:middle;font-size:12px;line-height:20px}.catalog-section-list-item-description{font-size:13px}.catalog-section-list-item-img{display:block;padding-top:100%;width:100%;border:1px solid #ccc;border-radius:2px;background-color:#fff;background-position:center;background-size:cover;background-repeat:no-repeat;transition:250ms linear all}.catalog-section-list-item-img:hover{border-color:var(--theme-color-primary)}.catalog-section-list-line-list{padding:0;list-style:none}.catalog-section-list-line-list .catalog-section-list-item{display:flex;margin-bottom:15px;align-items:flex-start}.catalog-section-list-line-list .catalog-section-list-item-title{text-align:left}.catalog-section-list-line-img-container{padding-right:15px;min-width:75px;width:75px}.catalog-section-list-line-list .catalog-section-list-titles{margin:0;line-height:20px}.catalog-section-list-text-list{padding:0;list-style:none;column-count:3}.catalog-section-list-text-list .catalog-section-list-item-title{text-align:left}@media(max-width:767px){.catalog-section-list-text-list{column-count:1}}.catalog-section-list-tile-list{padding:0;list-style:none}.catalog-section-list-tile-img-container{width:100%}.catalog-section-list-list{margin-bottom:30px}.catalog-section-list-list .catalog-section-list-item{padding:0;line-height:16px}.catalog-section-list-list .catalog-section-list-item:before{content:''!important}.catalog-section-list-list-title{display:inline-block;margin:0;margin-bottom:10px;padding:0;vertical-align:top;font-weight:normal;font-size:12px;line-height:16px}.catalog-section-list-list-link{white-space:nowrap;font-size:13px}.catalog-section-list-list-link:hover{text-decoration:none}.catalog-section-list-list-title span{font-size:11px}@media(max-width:639px){.bx-touch .catalog-section-list-list .bx_catalog_line_title{margin-bottom:5px;line-height:12px}.bx-touch .catalog-section-list-list .bx_catalog_line_title a{font-size:12px}}.catalog-section-list-list-title,.catalog-section-list-list-link{transition:all .3s ease}
/* End */
/* /bitrix/components/bitrix/catalog/templates/bootstrap_v4/style.min.css?1626519100684 */
/* /bitrix/components/bitrix/catalog.section.list/templates/bootstrap_v4/style.min.css?16265191002306 */
